body {
    /* background-color: #0F0F0F; */
}

p {
    padding: 1rem;
    font-family: 'Univers Condensed', sans-serif;
}

#main-container {
    position: relative;
    width: 100vw;
    display: grid;
    padding-top: 4rem;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: 
    "l-sidebar main r-sidebar";
}
.sidebar-frame {
    border: 3px solid #0F0F0F;
    background-color: #0F0F0F;
}
main {
    position: relative;
    top: 4rem;
    grid-area: main;
    background-color: #fafafa;
    margin-top: 4rem;
    border: 3px solid rgb(25, 25, 25);
}
#right-sidebar {
    grid-area: l-sidebar;
}
#left-sidebar {
    grid-area: r-sidebar;
}

#background-image {
    position: fixed;
    padding-top: 4rem;
    border-left: 3px solid rgb(25, 25, 25);
    border-right: 3px solid rgb(25, 25, 25);
}

#navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 4rem;
    background-color: #0F0F0F;
    border-bottom: 3px solid rgb(25, 25, 25);
}

/* Navbar content */
#navbar > li > a {
    font-family: 'Univers Condensed', sans-serif;
    color: #fafafa;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
}

#navbar > li > a:hover {
    text-decoration: underline;
}

#logo {
    width: 10vmin;
}
